$tablet_mode: 1245px;

@mixin flexing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin margin {
  width: 80%;
  margin: auto;
}
.topcourses {
  padding: 2rem 0;

  .topCourseWrapper {
    @include margin();
    margin-bottom: 1rem;

    .topC_header {
      @include flexing();
      width: 100%;

      .rightHeader {
        @include flexing();
      }
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;
      justify-items: center;

      .card {
        width: 100%;

        @media (max-width: $tablet_mode) {
          min-width: 12rem;
        }
      }
    }
  }
}
