<div class="loginWrapper row">
    <div class="loginHeader">
        <h1>SignUp Page</h1>
        <h6 (onclick)="goBack()"><a href="">Back</a></h6>
    </div>
    <div class="loginFields  col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <form [formGroup]="SignUpForm" (ngSubmit)="submitMethod(SignUpForm.value)">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName" aria-describedby="firstName" placeholder="Enter Your First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" id="lastName" aria-describedby="lastName" placeholder="Enter Your Last Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="email" placeholder="Enter Your Email Address" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" formControlName="exampleInputPassword1" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="check" required>
              <label class="form-check-label" formControlName="check" for="check"> I accept all Conditions</label>
            </div> -->
            <button type="submit" class="btn btn-primary"  [disabled]="SignUpForm.invalid">Submit</button>
          </form>
    </div>
    <div class="image  col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <img src="https://images.unsplash.com/photo-1558021211-6d1403321394?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fHN0dWR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
    </div>
</div>
