<div class="sectionWrapper">
    <div class="heroSection">
        <div class="heroInfo">
            <div class="centerHeroInfo">
                <h1>Learn From <br> Anywhere</h1>
                <p>Technology is bringing a massive  wave of tech asdkajd an ash knad saikadnka</p>
                <div class="buttons row">
                    <button type="button" class="btn btn-success col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-6">Get Started</button>
                    <button type="button" class="btn btn-dark col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-6">View Courses</button>
                </div>
            </div>
        </div>
        <img src="https://demo.createdbycocoon.com/moodle/edumy/16/pluginfile.php/471/block_cocoon_hero_6/images/2/4.png"  alt="">
    </div>
</div>
