<div class="header">
    <div class="headerwrapper">
        <div class="logo">
            <img src="http://demo.createdbycocoon.com/moodle/edumy/16/pluginfile.php/1/theme_edumy/headerlogo2/1612150177/header-logo2.png" alt="">
            <h1>EDUMY</h1>
        </div>
    
        <div class="navBar">
            <div class="home dropdown">
                <h3>Home</h3>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="course dropdown">
                <h3>Course</h3>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="events dropdown">
                <h3>Events</h3>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="pages dropdown">
                <h3>Pages</h3>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="blogs dropdown">
                <h3>Blogs</h3>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="contacts dropdown">
                <h3>Contacts</h3>
                <i class="fas fa-sort-down"></i>
            </div>
    
            <div class="login dropdown">
                <i class="fas fa-user"></i>
                <h6>Login/Register</h6>
            </div>
        
            <div class="icons">
                <div class="cart">
                    <i class="fas fa-shopping-cart"></i>
                    <h5>0</h5>
                </div>  
            </div>
        </div>
    </div>
    
    
</div>
