<div class="bigFooter">
    <div class="upperFooter">
        <div class="contact">
            <h3>Contact</h3>
            <p>329 Queensberry Street, North</p>
            <p>Melbourne</p>
            <p>VIC 3051, Australia.</p>
            <p>support@edumy.com</p>
        </div>

        <div class="company">
            <h3>COMPANY</h3>
            <p>About Us</p>
            <p>Blog</p>
            <p>Contact</p>
            <p>Become a Teacher</p>
        </div>

        <div class="support">
            <h3>PROGRAMS</h3>
            <p>About Us</p>
            <p>Blog</p>
            <p>Contact</p>
            <p>Become a Teacher</p>
        </div>

        <div class="support">
            <h3>PROGRAMS</h3>
            <p>About Us</p>
            <p>Blog</p>
            <p>Contact</p>
            <p>Become a Teacher</p>
        </div>
    </div>
    <hr/>
    <div class="middleFooter">
        <div class="logo">
            <img src="http://demo.createdbycocoon.com/moodle/edumy/16/pluginfile.php/1/theme_edumy/footerlogo1/1612150177/header-logo.png" alt="">
            <h1>EDUMY</h1>
        </div>
        <div class="bottomNav">
            <h3>Home</h3>
            <h3>Privacy</h3>
            <h3>Terms</h3>
            <h3>Purchase</h3>
        </div>
        <div class="icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-google"></i>
        </div>
    </div>
    
</div>
<div class="bottomFooter">
    <p>Copyright &copy; 2021 Edumy Theem by coccon. All Rights Reserved.</p>
</div>